{% extends 'base.html.twig' %}

{% block body %}

<html>
        <link rel="shortcut icon" type="image/png" href="Img/logo.png"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <style>
            .bodyCSS{
                background: linear-gradient(#8E0E00, #1F1C18);
                
            }

            .blockInscription{
                margin: 100 auto !important; 
                text-align: center;
                border-radius: 3px;
                background-color: white;
                width: 300px;
                padding: 10px;
            }

            .typo{
                font-family: Calibri, Candara, Segoe, Optima, Arial, sans-serif; font-size: 18px; font-style: normal;
            }

            .btn{
                margin-top:10px;
                margin-bottom:10px;
                background-color : red;
            }

    </style>
    <title>ESKA</title>
    <body class="bodyCSS">
          <div class="row" style="margin-top: 50px; padding: 10px 50px 20px;">
               {% for video in videos %}
                    <div class="col" style="margin-top: 50px;" >
                        <a style ="text-decoration: none;" href="{{path('detail_video',{'id' : video.id})}}">
                        <p>Lorme ipsum dolor sitamet</p>
                         <video controls width="500" height="250">
                              <source src={{video.link }}
                              type="video/webm">
                              <source src={{video.link}}
                              type="video/mp4">
                              Sorry, your browser doesn't support embedded videos.
                         </video>
                         </a>
                    </div>
                     {% endfor %}
          </div>
    </body>
</html>
{% endblock %}